.container {
  margin: 0 auto;
  width: 720px;
}

header {
  background-color: black;
}

#logo {
  display: block;
  margin: 0 auto;
}

nav {
  margin:auto;
  width:800px;
  font-family:Arial, Helvetica, sans-serif;
}

ul {
  list-style:none;
}
nav ul li{
  
} 
/*nav ul li a:first-child {
 border-radius: 10px 0 0 10px;
}
nav ul li a:last-child {
 border-radius: 0 10px 10px 0;
}*/
.submenu li a {
color: #566377; 
float: none; 
margin-bottom: 2px;
width:40px;
}
nav li a {
  
  color:#000;
  text-decoration:none;
  padding:10px 28px;
  display:block;
  float:left;
  margin-right: 2px;
}

nav li a:hover {
  color:#fff;
}

nav li ul {
  display:none;
  position:absolute;
  min-width:140px;
}
nav li ul li{
  position: relative;
  top:40px;
  left: -40px;
}

nav li:hover > ul {
  display:block;
  float: none;
}

